[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.0"
2captcha-python = "*"
python3-capsolver = "*"
schedule = "*"
pytz = "*"
genshin = "*"
discord-webhook = {extras = ["async"], version = "*"}

[dev-packages]
black = "*"
ruff = "*"
pre-commit = "*"

[scripts]
login = "python hoyolab.py"
