[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.2"
python-dotenv = "==1.0.0"
aiohttp = "*"
discord-webhook = {extras = ["async"], version = "*"}
2captcha-python = "*"
install = "*"
python3-capsolver = "*"
schedule = "*"
pytz = "*"
colorlog = "*"

[dev-packages]
black = "*"
ruff = "*"
pre-commit = "*"

[scripts]
login = "python hoyolab.py"
